.m-n1{margin:-.25rem!important}.m-n2{margin:-.5rem!important}.m-n3{margin:-1rem!important}.m-n4{margin:-1.5rem!important}.m-n5{margin:-3rem!important}.mx-n1{margin-right:-.25rem!important;margin-left:-.25rem!important}.mx-n2{margin-right:-.5rem!important;margin-left:-.5rem!important}.mx-n3{margin-right:-1rem!important;margin-left:-1rem!important}.mx-n4{margin-right:-1.5rem!important;margin-left:-1.5rem!important}.mx-n5{margin-right:-3rem!important;margin-left:-3rem!important}.my-n1{margin-top:-.25rem!important;margin-bottom:-.25rem!important}.my-n2{margin-top:-.5rem!important;margin-bottom:-.5rem!important}.my-n3{margin-top:-1rem!important;margin-bottom:-1rem!important}.my-n4{margin-top:-1.5rem!important;margin-bottom:-1.5rem!important}.my-n5{margin-top:-3rem!important;margin-bottom:-3rem!important}.mt-n1{margin-top:-.25rem!important}.mt-n2{margin-top:-.5rem!important}.mt-n3{margin-top:-1rem!important}.mt-n4{margin-top:-1.5rem!important}.mt-n5{margin-top:-3rem!important}.me-n1{margin-right:-.25rem!important}.me-n2{margin-right:-.5rem!important}.me-n3{margin-right:-1rem!important}.me-n4{margin-right:-1.5rem!important}.me-n5{margin-right:-3rem!important}.mb-n1{margin-bottom:-.25rem!important}.mb-n2{margin-bottom:-.5rem!important}.mb-n3{margin-bottom:-1rem!important}.mb-n4{margin-bottom:-1.5rem!important}.mb-n5{margin-bottom:-3rem!important}.ms-n1{margin-left:-.25rem!important}.ms-n2{margin-left:-.5rem!important}.ms-n3{margin-left:-1rem!important}.ms-n4{margin-left:-1.5rem!important}.ms-n5{margin-left:-3rem!important}@media (min-width:576px){.m-sm-n1{margin:-.25rem!important}.m-sm-n2{margin:-.5rem!important}.m-sm-n3{margin:-1rem!important}.m-sm-n4{margin:-1.5rem!important}.m-sm-n5{margin:-3rem!important}.mx-sm-n1{margin-right:-.25rem!important;margin-left:-.25rem!important}.mx-sm-n2{margin-right:-.5rem!important;margin-left:-.5rem!important}.mx-sm-n3{margin-right:-1rem!important;margin-left:-1rem!important}.mx-sm-n4{margin-right:-1.5rem!important;margin-left:-1.5rem!important}.mx-sm-n5{margin-right:-3rem!important;margin-left:-3rem!important}.my-sm-n1{margin-top:-.25rem!important;margin-bottom:-.25rem!important}.my-sm-n2{margin-top:-.5rem!important;margin-bottom:-.5rem!important}.my-sm-n3{margin-top:-1rem!important;margin-bottom:-1rem!important}.my-sm-n4{margin-top:-1.5rem!important;margin-bottom:-1.5rem!important}.my-sm-n5{margin-top:-3rem!important;margin-bottom:-3rem!important}.mt-sm-n1{margin-top:-.25rem!important}.mt-sm-n2{margin-top:-.5rem!important}.mt-sm-n3{margin-top:-1rem!important}.mt-sm-n4{margin-top:-1.5rem!important}.mt-sm-n5{margin-top:-3rem!important}.mb-sm-n1,.me-sm-n1{margin-right:-.25rem!important}.mb-sm-n2,.me-sm-n2{margin-right:-.5rem!important}.mb-sm-n3,.me-sm-n3{margin-right:-1rem!important}.mb-sm-n4,.me-sm-n4{margin-right:- 1.5rem!important}.mb-sm-n5,.me-sm-n5{margin-right:-3rem!important}.ms-sm-n1{margin-left:-.25rem!important}.ms-sm-n2{margin-left:-.5rem!important}.ms-sm-n3{margin-left:-1rem!important}.ms-sm-n4{margin-left:-1.5rem!important}.ms-sm-n5{margin-left:-3rem!important}}@media (min-width:768px){.m-md-n1{margin:-.25rem!important}.m-md-n2{margin:-.5rem!important}.m-md-n3{margin:-1rem!important}.m-md-n4{margin:-1.5rem!important}.m-md-n5{margin:-3rem!important}.mx-md-n1{margin-right:-.25rem!important;margin-left:-.25rem!important}.mx-md-n2{margin-right:-.5rem!important;margin-left:-.5rem!important}.mx-md-n3{margin-right:-1rem!important;margin-left:-1rem!important}.mx-md-n4{margin-right:-1.5rem!important;margin-left:-1.5rem!important}.mx-md-n5{margin-right:-3rem!important;margin-left:-3rem!important}.my-md-n1{margin-top:-.25rem!important;margin-bottom:-.25rem!important}.my-md-n2{margin-top:-.5rem!important;margin-bottom:-.5rem!important}.my-md-n3{margin-top:-1rem!important;margin-bottom:-1rem!important}.my-md-n4{margin-top:-1.5rem!important;margin-bottom:-1.5rem!important}.my-md-n5{margin-top:-3rem!important;margin-bottom:-3rem!important}.mt-md-n1{margin-top:-.25rem!important}.mt-md-n2{margin-top:-.5rem!important}.mt-md-n3{margin-top:-1rem!important}.mt-md-n4{margin-top:-1.5rem!important}.mt-md-n5{margin-top:-3rem!important}.me-md-n1{margin-right:-.25rem!important}.me-md-n2{margin-right:-.5rem!important}.me-md-n3{margin-right:-1rem!important}.me-md-n4{margin-right:-1.5rem!important}.me-md-n5{margin-right:-3rem!important}.mb-md-n1{margin-bottom:-.25rem!important}.mb-md-n2{margin-bottom:-.5rem!important}.mb-md-n3{margin-bottom:-1rem!important}.mb-md-n4{margin-bottom:-1.5rem!important}.mb-md-n5{margin-bottom:-3rem!important}.ms-md-n1{margin-left:-.25rem!important}.ms-md-n2{margin-left:-.5rem!important}.ms-md-n3{margin-left:-1rem!important}.ms-md-n4{margin-left:-1.5rem!important}.ms-md-n5{margin-left:-3rem!important}}@media (min-width:992px){.m-lg-n1{margin:-.25rem!important}.m-lg-n2{margin:-.5rem!important}.m-lg-n3{margin:-1rem!important}.m-lg-n4{margin:-1.5rem!important}.m-lg-n5{margin:-3rem!important}.mx-lg-n1{margin-right:-.25rem!important;margin-left:-.25rem!important}.mx-lg-n2{margin-right:-.5rem!important;margin-left:-.5rem!important}.mx-lg-n3{margin-right:-1rem!important;margin-left:-1rem!important}.mx-lg-n4{margin-right:-1.5rem!important;margin-left:-1.5rem!important}.mx-lg-n5{margin-right:-3rem!important;margin-left:-3rem!important}.my-lg-n1{margin-top:-.25rem!important;margin-bottom:-.25rem!important}.my-lg-n2{margin-top:-.5rem!important;margin-bottom:-.5rem!important}.my-lg-n3{margin-top:-1rem!important;margin-bottom:-1rem!important}.my-lg-n4{margin-top:-1.5rem!important;margin-bottom:-1.5rem!important}.my-lg-n5{margin-top:-3rem!important;margin-bottom:-3rem!important}.mt-lg-n1{margin-top:-.25rem!important}.mt-lg-n2{margin-top:-.5rem!important}.mt-lg-n3{margin-top:-1rem!important}.mt-lg-n4{margin-top:-1.5rem!important}.mt-lg-n5{margin-top:-3rem!important}.me-lg-n1{margin-right:-.25rem!important}.me-lg-n2{margin-right:-.5rem!important}.me-lg-n3{margin-right:-1rem!important}.me-lg-n4{margin-right:-1.5rem!important}.me-lg-n5{margin-right:-3rem!important}.mb-lg-n1{margin-bottom:-.25rem!important}.mb-lg-n2{margin-bottom:-.5rem!important}.mb-lg-n3{margin-bottom:-1rem!important}.mb-lg-n4{margin-bottom:-1.5rem!important}.mb-lg-n5{margin-bottom:-3rem!important}.ms-lg-n1{margin-left:-.25rem!important}.ms-lg-n2{margin-left:-.5rem!important}.ms-lg-n3{margin-left:-1rem!important}.ms-lg-n4{margin-left:-1.5rem!important}.ms-lg-n5{margin-left:-3rem!important}}@media (min-width:1200px){.m-xl-n1{margin:-.25rem!important}.m-xl-n2{margin:-.5rem!important}.m-xl-n3{margin:-1rem!important}.m-xl-n4{margin:-1.5rem!important}.m-xl-n5{margin:-3rem!important}.mx-xl-n1{margin-right:-.25rem!important;margin-left:-.25rem!important}.mx-xl-n2{margin-right:-.5rem!important;margin-left:-.5rem!important}.mx-xl-n3{margin-right:-1rem!important;margin-left:-1rem!important}.mx-xl-n4{margin-right:-1.5rem!important;margin-left:-1.5rem!important}.mx-xl-n5{margin-right:-3rem!important;margin-left:-3rem!important}.my-xl-n1{margin-top:-.25rem!important;margin-bottom:-.25rem!important}.my-xl-n2{margin-top:-.5rem!important;margin-bottom:-.5rem!important}.my-xl-n3{margin-top:-1rem!important;margin-bottom:-1rem!important}.my-xl-n4{margin-top:-1.5rem!important;margin-bottom:-1.5rem!important}.my-xl-n5{margin-top:-3rem!important;margin-bottom:-3rem!important}.mt-xl-n1{margin-top:-.25rem!important}.mt-xl-n2{margin-top:-.5rem!important}.mt-xl-n3{margin-top:-1rem!important}.mt-xl-n4{margin-top:-1.5rem!important}.mt-xl-n5{margin-top:-3rem!important}.me-xl-n1{margin-right:-.25rem!important}.me-xl-n2{margin-right:-.5rem!important}.me-xl-n3{margin-right:-1rem!important}.me-xl-n4{margin-right:-1.5rem!important}.me-xl-n5{margin-right:-3rem!important}.mb-xl-n1{margin-bottom:-.25rem!important}.mb-xl-n2{margin-bottom:-.5rem!important}.mb-xl-n3{margin-bottom:-1rem!important}.mb-xl-n4{margin-bottom:-1.5rem!important}.mb-xl-n5{margin-bottom:-3rem!important}.ms-xl-n1{margin-left:-.25rem!important}.ms-xl-n2{margin-left:-.5rem!important}.ms-xl-n3{margin-left:-1rem!important}.ms-xl-n4{margin-left:-1.5rem!important}.ms-xl-n5{margin-left:-3rem!important}}@media (min-width:1400px){.m-xxl-n1{margin:-.25rem!important}.m-xxl-n2{margin:-.5rem!important}.m-xxl-n3{margin:-1rem!important}.m-xxl-n4{margin:-1.5rem!important}.m-xxl-n5{margin:-3rem!important}.mx-xxl-n1{margin-right:-.25rem!important;margin-left:-.25rem!important}.mx-xxl-n2{margin-right:-.5rem!important;margin-left:-.5rem!important}.mx-xxl-n3{margin-right:-1rem!important;margin-left:-1rem!important}.mx-xxl-n4{margin-right:-1.5rem!important;margin-left:-1.5rem!important}.mx-xxl-n5{margin-right:-3rem!important;margin-left:-3rem!important}.my-xxl-n1{margin-top:-.25rem!important;margin-bottom:-.25rem!important}.my-xxl-n2{margin-top:-.5rem!important;margin-bottom:-.5rem!important}.my-xxl-n3{margin-top:-1rem!important;margin-bottom:-1rem!important}.my-xxl-n4{margin-top:-1.5rem!important;margin-bottom:-1.5rem!important}.my-xxl-n5{margin-top:-3rem!important;margin-bottom:-3rem!important}.mt-xxl-n1{margin-top:-.25rem!important}.mt-xxl-n2{margin-top:-.5rem!important}.mt-xxl-n3{margin-top:-1rem!important}.mt-xxl-n4{margin-top:-1.5rem!important}.mt-xxl-n5{margin-top:-3rem!important}.me-xxl-n1{margin-right:-.25rem!important}.me-xxl-n2{margin-right:-.5rem!important}.me-xxl-n3{margin-right:-1rem!important}.me-xxl-n4{margin-right:-1.5rem!important}.me-xxl-n5{margin-right:-3rem!important}.mb-xxl-n1{margin-bottom:-.25rem!important}.mb-xxl-n2{margin-bottom:-.5rem!important}.mb-xxl-n3{margin-bottom:-1rem!important}.mb-xxl-n4{margin-bottom:-1.5rem!important}.mb-xxl-n5{margin-bottom:-3rem!important}.ms-xxl-n1{margin-left:-.25rem!important}.ms-xxl-n2{margin-left:-.5rem!important}.ms-xxl-n3{margin-left:-1rem!important}.ms-xxl-n4{margin-left:-1.5rem!important}.ms-xxl-n5{margin-left:-3rem!important}}
:root {
  --bs-body-font-size: 0.65rem;

  --bs-body-bg: transparent !important;

  --color-bg-grey: rgb(204,204,204);
  --color-bg-dark: #000000;
  /* --color-bg-dark: #29323B; */
  --color-bg-light: #FEFEF6;
  --color-bg-red: #E93407;
  --color-bg-blue: #1B5C9C;
  --color-bg-light-blue: #E5EDF0;
  --color-bg-yellow: #FBDA11;
}
body {
  background-color: var(--color-bg-grey); 
}
.A4 {
  background-color: var(--color-bg-dark); 
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  margin-top: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  padding: 1.0cm;

  break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
}
@media print {
  body, .A4 {
    margin: 0;
    box-shadow: 0;
  }
}

/* Colors */

/* Dark: #29323B */
/* Light: #FEFEF6 */
/* Red: #E93407 */
/* Blue: #1B5C9C */
/* Light blue: #E5EDF0 */
/* Yellow: #FBDA11 */

.color-bg-dark { background-color: var(--color-bg-dark); color: var(--color-bg-light); }
.color-text-dark { color: var(--color-bg-dark); }
.color-border-dark { border: 3px solid var(--color-bg-dark); }

.color-bg-light { background-color: var(--color-bg-light); color: var(--color-bg-dark); }
.color-text-light { color: var(--color-bg-light); }
.color-border-light { border: 3px solid var(--color-bg-light); }

.color-bg-red { background-color: var(--color-bg-red); color: var(--color-bg-light); }
.color-text-red { color: var(--color-bg-red); }
.color-border-red { border: 3px solid var(--color-bg-red); }

.color-bg-blue { background-color: var(--color-bg-blue); color: var(--color-bg-light); }
.color-text-blue { color: var(--color-bg-blue); }
.color-border-blue { border: 3px solid var(--color-bg-blue); }

.color-bg-light-blue { background-color: var(--color-bg-light-blue); color: var(--color-bg-dark); }
.color-text-light-blue { color: var(--color-bg-light-blue); }
.color-border-light-blue { border: 3px solid var(--color-bg-light-blue); }

.color-bg-yellow { background-color: var(--color-bg-yellow); color: var(--color-bg-dark); }
.color-text-yellow { color: var(--color-bg-yellow); }
.color-border-yellow { border: 3px solid var(--color-bg-yellow); }

/* Fonts */
/* <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</a> */

@font-face {font-family: "MachineStd";
  src: url("fonts/MachineStd/eb5ec7da0268c5875a4ba8d399635a7f.eot"); /* IE9*/
  src: url("fonts/MachineStd/eb5ec7da0268c5875a4ba8d399635a7f.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/MachineStd/eb5ec7da0268c5875a4ba8d399635a7f.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/MachineStd/eb5ec7da0268c5875a4ba8d399635a7f.woff") format("woff"), /* chrome、firefox */
  url("fonts/MachineStd/eb5ec7da0268c5875a4ba8d399635a7f.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/MachineStd/eb5ec7da0268c5875a4ba8d399635a7f.svg#MachineStd") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Conduit ITC W02 Bold";
  src: url("fonts/ConduitITC/e8d1660b0c3738e3d5138b97ff2b7a47.eot"); /* IE9*/
  src: url("fonts/ConduitITC/e8d1660b0c3738e3d5138b97ff2b7a47.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/ConduitITC/e8d1660b0c3738e3d5138b97ff2b7a47.woff2") format("woff2"), /* chrome、firefox */
  url("fonts/ConduitITC/e8d1660b0c3738e3d5138b97ff2b7a47.woff") format("woff"), /* chrome、firefox */
  url("fonts/ConduitITC/e8d1660b0c3738e3d5138b97ff2b7a47.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {font-family: "PT Serif";
  src: url("fonts/PT_Serif/PTSerif-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

/* Styles */

body {
  -webkit-print-color-adjust: exact; /* Chrome & Webkit browsers*/
  print-color-adjust: exact; /* compatibility */
  font-family: "PT Serif", 'Times New Roman', Times, serif !important;
  font-weight: normal;
}
ul {
  margin: 0 0 0.25rem;
  padding-left: 1rem;
}
p, ul, .callout, table {
  margin-bottom: 0.25rem !important;
}
.font-body {
  font-family: "PT Serif", 'Times New Roman', Times, serif !important;
  font-weight: normal;
}
.font-heading {
  font-family: "MachineStd", Arial, Helvetica, sans-serif !important;
  font-weight: normal;
  letter-spacing: 1px;
}
.font-value {
  font-family: "Conduit ITC W02 Bold", Arial, Helvetica, sans-serif !important;
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.italic {
  font-style: italic !important;
}
.bold {
  font-weight: 700 !important;
}
.underline {
  text-decoration: underline;
}

/* Box */

.box-container {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
.box-header {
  word-wrap: break-word;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.1rem;
  padding-top: 0.25rem;
}
.box-content {
  padding: 0.3rem 0.6rem 0.25rem 0.6rem;
}
.box-content-title.h1 {
  font-size: 1.2rem;
  margin: 0;
}
.box-content-title.h2 {
  font-size: 0.8rem;
  margin: 0;
  /* text-align: center; */
}
.callout {
  padding: 0.5rem;
  color: var(--bd-callout-color, inherit);
  background-color: var(--color-bg-light-blue);
  border-left: 0.25rem solid var(--color-bg-blue);
  break-inside: avoid;
  page-break-inside: avoid;
}

/* Movement symbols */

.symbol {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 20px;
  margin-left: 2px;
}
.symbol-white {
  color: #ffffff;
}
.symbol-blue {
  color: rgb(3, 91, 159);
}
.symbol-red {
  color: rgb(204, 20, 21);
}

/* Data table */

table, .block {
  break-inside: avoid;
  page-break-inside: avoid;
}
table, tr, th, td {
  text-align: center;
  margin: 0;
  padding: 0;
}

th:first-child, td:first-child {
  text-align: left;
}

table .odd {
    background-color: var(--color-bg-light-blue);
}
table .even {
  background-color: var(--color-bg-light);
}

.box-table-header {
  background-color: var(--color-bg-blue);
}
.box-table-header th {
  color: var(--color-bg-light);
  font-size: 0.8rem;
  line-height: 0.8rem;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
}
.box-table-body td {
  vertical-align: middle;
}
