                    <tr {{#if equipment }}class="equipment-{{ id }}"{{/if}}>
                      <td>
                        <span class="aa-title" contenteditable="true">{{ title }}{{#if (and operator cost)}}{{ cost }}{{/if}}</span>
                        <span class="aa-description" contenteditable="true">{{ description }}</span>
                      </td>
                    </tr>