                <p class="rule {{#if equipment }}equipment-{{ id }}{{/if}}">
                  <span class="aa-title" contenteditable="true">{{ title }}{{#if (and operator cost)}}{{ cost }}{{/if}}: </span>
                  <span class="aa-description" contenteditable="true">{{ description }}</span>
                </p>